@tailwind base;
@tailwind components;
@tailwind utilities;

/*----------------------
 * general
 *---------------------*/

:root {
  --bg-primary: #574d99;
  --1vw: calc((100vw - var(--sbw, 0px)) / 100);
  --1vh: var(--inner1Vh, 1vh);
  --scrollbar-width: calc(100vw - 100%);
}

@font-face {
  font-family: "site";
  src: url("/fonts/site.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-primary);
  font-size: 1rem;
  font-family: site;
  color: white;
}

a.anchor {
  scroll-margin-top: 48px;
  visibility: hidden;
}

nav {
  height: 50px;

  a {
    font-size: 15px;
  }
}

.content {
  line-height: 1.36em;
  font-size: 1.13em;

  p {
    margin-bottom: 0.9rem;
  }
}

.content-grid {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-area: 1 / 2 / 2 / 3;
  align-items: center;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
  }

  > div {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.section-title {
  max-height: 60px;
  height: 14vw;
}

@media (min-width: 821px) {
  .section-title {
    max-height: 80px;
    height: 6vw;
  }
}

@media (min-width: 1500px) {
  .content {
    line-height: 1.5em;
    font-size: 1.3em;
  }

  .banner {
    max-height: 1800px;
  }

  .content {
    font-size: 1.3em;
  }
}

/*----------------------
 * banner
 *---------------------*/

.banner {
  width: 100%;
  height: 100vh;
  display: block;
  object-fit: cover;
}

.banner-title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 92vw;
  height: auto;
  z-index: 2;
  padding-top: 18%;
}

@media (min-width: 600px) {
  .banner-title {
    width: 80vw;
  }
}

@media (min-width: 1180px) {
  .banner {
    height: auto;
  }

  .banner-title {
    width: 50vw;
    max-width: 700px;
  }
}

/*----------------------
 * about
 *---------------------*/

#about-grid-sm {
  display: flex;

  photo {
    border: 4px solid #b282b4;
  }
}

#about-grid {
  display: none;
}

.elena-photo-1 {
  border: 4px solid #b282b4;
}

.elena-photo-2 {
  border: 4px solid #d489a4;
}

.elena-photo-3 {
  border: 4px solid #fdac84;
}

@media (min-width: 821px) {
  #about-left-sm .elena-photo-3 {
    display: none;
  }
}

@media (min-width: 1180px) {
  #about-grid-sm {
    display: none;
  }

  #about-grid {
    display: grid;
    grid-template-columns:
      2.5rem 2.3rem 7.1rem 8.7rem 0.1rem 5.1rem 1.3rem 4.1rem
      3.8rem 0.9rem 4.7rem 26.8rem 1.6rem 2rem;

    grid-template-rows:
      minmax(1.4rem, max-content) 0 minmax(4rem, max-content)
      minmax(0.3rem, max-content) minmax(10.2rem, max-content) minmax(0.4rem, max-content)
      minmax(2.7rem, max-content) minmax(6.2rem, max-content) minmax(2.6rem, max-content)
      minmax(1.2rem, max-content) minmax(5.1rem, max-content) minmax(0.8rem, max-content)
      minmax(8.8rem, max-content) minmax(3.2rem, max-content) minmax(0.7rem, max-content);
  }

  #about-title {
    scale: 85%;
    grid-area: 3 / 9 / 4 / 12;
  }

  #about-content-1 {
    grid-area: 5 / 8 / 8 / 13;
  }

  #about-content-2 {
    grid-area: 7 / 11 / 12 / 14;
  }

  #about-leaves {
    grid-area: 11 / 4 / 15 / 15;
    z-index: 1;
  }

  #about-elena-1 {
    grid-area: 2 / 3 / 10 / 7;
  }

  #about-elena-2 {
    grid-area: 6 / 5 / 13 / 10;
  }

  #about-elena-3 {
    grid-area: 9 / 2 / 14 / 6;
  }
}

@media (min-width: 1500px) {
  #about-grid {
    grid-template-columns:
      3.2rem 2.9rem 8.9rem 10.9rem 0.1rem 6.4rem 1.7rem 5.1rem
      4.7rem 1.2rem 5.9rem 33.8rem 2rem 2.5rem;
    grid-template-rows:
      minmax(1.8rem, max-content) 0 minmax(5rem, max-content)
      minmax(0.4rem, max-content) minmax(12.9rem, max-content) minmax(0.5rem, max-content)
      minmax(3.4rem, max-content) minmax(7.8rem, max-content) minmax(3.3rem, max-content)
      minmax(1.5rem, max-content) minmax(6.4rem, max-content) minmax(1.1rem, max-content)
      minmax(11.1rem, max-content) minmax(4.1rem, max-content) minmax(0.8rem, max-content);
  }
}

/*----------------------
 * portfolio
 *---------------------*/

.portfolio-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 8px;
}

.portfolio-column {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 8px;

  img {
    margin-top: 16px;
    vertical-align: middle;
  }
}

#portfolio-grid {
  display: none;
}

#portfolio-grid-sm {
  max-width: 1400px;
  display: block;
  text-align: center;
}

@media (min-width: 768px) {
  .portfolio-row {
    padding: 0 0.6vw;
  }

  .portfolio-column {
    flex: 0 0 var(--column-width, 50%);
    max-width: var(--column-width, 50%);
    padding: 0 0.6vw;

    img {
      margin-top: 1.2vw;
    }
  }
}

@media (min-width: 1180px) {
  #portfolio-title {
    grid-area: 2 / 8 / 3 / 20;
  }

  #portfolio-1 {
    grid-area: 4 / 4 / 6 / 16;
  }

  #portfolio-2 {
    grid-area: 5 / 19 / 8 / 23;
  }

  #portfolio-3 {
    grid-area: 7 / 5 / 10 / 17;
  }

  #portfolio-4 {
    grid-area: 9 / 18 / 11 / 24;
  }

  #portfolio-5 {
    grid-area: 12 / 6 / 14 / 11;
  }

  #portfolio-6 {
    grid-area: 13 / 15 / 15 / 25;
  }

  #portfolio-7 {
    grid-area: 16 / 7 / 17 / 29;
  }

  #portfolio-8 {
    grid-area: 18 / 2 / 22 / 9;
  }

  #portfolio-9 {
    grid-area: 21 / 12 / 24 / 27;
  }

  #portfolio-10 {
    grid-area: 23 / 3 / 29 / 10;
  }

  #portfolio-11 {
    grid-area: 25 / 14 / 27 / 21;
  }

  #portfolio-12 {
    grid-area: 26 / 22 / 28 / 28;
  }

  #portfolio-13 {
    grid-area: 19 / 13 / 20 / 26;
  }

  #contact-1 {
    grid-area: 2 / 2 / 3 / 3;
  }
}
